name: alioth-redline

on:
  pull_request:
  workflow_dispatch:
    inputs:
      KERNEL_TREE:
        description: 'Kernel Tree'
        default: 'https://github.com/Migu-Kernel/kernel_xiaomi_sm8250'
        required: true
      ANYKERNEL_URL:
        description: 'AnyKernel Url (leave blank if you dont want AnyKernel)'
        default: 'https://github.com/Migu-Kernel/anykernel3'
        required: false
      COMPILER:
        description: 'Choose compiler'
        required: true
        type: choice
        options:
          - neutron
          - aosp
          - aosp-21
        default: aosp-21

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UPLOAD_TO_RELEASE: false

    steps:
      - name: Install Dependencies
        run: sudo apt install flex libncurses6

      - name: Download & Extract Clang
        run: |
          if [[ "${{ github.event.inputs.COMPILER }}" == "aosp" ]]; then
            wget https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/main/clang-r547379.tar.gz -O clang.tar.gz
            mkdir clang
            tar -xf clang.tar.gz -C clang
          elif [[ "${{ github.event.inputs.COMPILER }}" == "aosp-21" ]]; then
            wget https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/ebcc6c3bef363bc539ea39f45b6abae1dce6ff1a/clang-r574158.tar.gz -O clang.tar.gz
            mkdir clang
            tar -xf clang.tar.gz -C clang
          else
            wget https://github.com/Neutron-Toolchains/clang-build-catalogue/releases/download/10032024/neutron-clang-10032024.tar.zst -O clang.tar.zst
            mkdir clang
            unzstd -d clang.tar.zst
            tar -xf clang.tar -C clang
          fi

      - name: Clone Repo
        run: |
          git clone --depth=1 --recurse-submodules ${{ github.event.inputs.KERNEL_TREE }} kernel_tree

      - name: Build Kernel
        run: |
          export PATH="$(pwd)/clang/bin:$PATH"
          export ARCH=arm64
          export SUBARCH=ARM64
          export KBUILD_BUILD_USER="ncpt"
          export KBUILD_BUILD_HOST="revolution"
          export KBUILD_BUILD_TIMESTAMP="$(TZ=UTC-7 date)"
          cd kernel_tree
          make O=out alioth_defconfig
          make O=out CC=clang -j$(nproc --all) CROSS_COMPILE=aarch64-linux-gnu- LLVM=1 LLVM_IAS=1
          find out/arch/arm64/boot/dts -name '*.dtb' -exec cat {} + >out/arch/arm64/boot/dtb
          echo "all files:"
          ls -lhaR out/arch/arm64/boot/

      - name: Upload Image
        uses: actions/upload-artifact@v4
        with:
          name: Image
          path: ./kernel-tree/out/arch/arm64/boot/Image
          if-no-files-found: ignore
          retention-days: 7

      # - name: Upload Image.gz
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: Image
      #     path: ./kernel-tree/out/arch/arm64/boot/Image.gz
      #     if-no-files-found: ignore
      #     retention-days: 7

      - name: Upload dtb
        uses: actions/upload-artifact@v4
        with:
          name: dtb
          path: ./kernel-tree/out/arch/arm64/boot/dtb
          if-no-files-found: ignore
          retention-days: 7

      - name: Upload dtbo.img
        uses: actions/upload-artifact@v4
        with:
          name: dtbo.img
          path: ./kernel-tree/out/arch/arm64/boot/dtbo.img
          if-no-files-found: ignore
          retention-days: 7
          
      - name: Clone AnyKernel3
        run: git clone --recursive --depth=1 ${{ github.event.inputs.ANYKERNEL_URL }} -b main anykernel

      - name: Move Kernel Files to AnyKernel3
        run: |
          mv ./kernel-tree/out/arch/arm64/boot/Image anykernel/
          mv ./kernel-tree/out/arch/arm64/boot/dtb anykernel/
          mv ./kernel-tree/out/arch/arm64/boot/dtbo.img anykernel/

      - name: Define ZIP Name
        run: |
          COMPILED_DATE=$(date +%Y%m%d)
          echo "ZIP_NAME=Migu-${COMPILED_DATE}" >> $GITHUB_ENV

      - name: Upload Flashable Kernel Zip
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}
          path: |
            anykernel/
            !anykernel/.git
            !anykernel/.github
          retention-days: 30
      
